<!doctype html>

<html>
<head>
	<title>Textbook App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
  <link href="css/currentoffers.css" rel="stylesheet">
    {{>tracking_code_script}}     
</head>

<body>
  <div id="username" style="display:none;">{{username}}</div>
  <div class=container>

  <!--- NAVBAR -->
  <nav class="navbar navbar-default">

      <form method="POST" action="index">
        <input type="hidden" name="username" value="{{username}}"> 
        <button type="IndexButton" class="btn btn-default pull-right">
          <span class="glyphicon glyphicon-home"></span>
        </button>
      </form>

      <p class="navbar-text pull-right">Hello, {{username}}</p>

      <div class="container-fluid">
       <div class="navbar-header">

       <div class="dropdown pull-left">
     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
       <span class="glyphicon glyphicon-align-justify"></span>
      </button>

       <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">

      <form method="POST" action="inbox">
        <input type="hidden" name="username" value="{{username}}"> 
        <button id="InboxButton" class="btn btn-link">Messages</button>
    </form>

      <form method="POST" action="transactions">
        <input type="hidden" name="username" value="{{username}}"> 
        <button id="InboxButton" class="btn btn-link">My Offers/Transactions</button>
    </form>

      <li class="divider"></li>
    <form method="GET" action="/">
    <button id="Logout" class="btn btn-link">Logout</button><br>
    </form>
    </ul>

        </div>
        </div>
      </div>
  </nav>
  <!--- NAVBAR END -->

	<div align="left">
		<input type="button" class="btn btn-sm backbutton" onclick="history.back();"  value="Back"> 
	</div>	

	<br>
	<h1 align="center">Current Offers</h1>
  <h4 align="center"><em>See what's out there!</em></h4><br>

	{{#each offers}}
		<div align="center" class="container">
          <div style="float:left"><img src="{{imageurl}}" height="200" width="100" />
          <p>
            <br><button class="message-seller-btn btn btn-primary MessageSeller">Message Seller</button><br>
            <button class="purchase-btn btn btn-primary BuyThis">Buy This!</button><br></div><br>
            <b>Seller:</b> <div class="seller">{{seller}} </div><br>
            <b>Title:</b> <div class="title">{{title}}</div> <br>
            <b>Author:</b> <div class="author">{{author}}</div> <br>
            <b>ISBN:</b> <div class="isbn">{{isbn}}</div> <br>
            <b>Course:</b> <div class="course">{{course}}</div><br>
            <b>Location:</b> <div class="location">{{location}}</div><br>
            <b>Availability:</b> <div class="availability">{{availability}}</div><br>
          </p>
    </div>
	{{/each}}
<input id="refresh-btn" type="submit" style="display: none;">
<div id="new-message-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send a message</h4>
            </div>
            <div class="modal-body" align="center">
                Subject: <input type="text" name="modal-subject"> <br>
                <textarea name="modal-msg-text" cols="30" rows="10"></textarea> <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send!</button>
            </div>
        </div>
    </div>
</div>

<div id="purchase-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" align="center">
                Purchase this textbook?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=makeTransaction()>Yes</button>
       
            </div>
        </div>
    </div>
</div>

</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>



</html>
<script>
  var purchaseDiv;
  $(document).ready(function() {
    $('.message-seller-btn').click(function(){
      $('#new-message-modal').modal('show');
    });
    $('.purchase-btn').click(function(){
       purchaseDiv = $(this).parent().parent().parent();
      $('#purchase-modal').modal('show');
    });
    $('#refresh-btn').click(function(){
      var username = $('#username').text()
      location.reload();
    });
  })

  function makeTransaction() {
      var buyer = $('#username').text();
      var seller = purchaseDiv.find('.seller').text().trim();
      var title = purchaseDiv.find('.title').text().trim();
      var isbn = purchaseDiv.find('.isbn').text().trim();
      var location = purchaseDiv.find('.location').text().trim();
      var availability = purchaseDiv.find('.availability').text().trim();
      console.log(buyer + seller + title + isbn);
      $.post( "makeTransaction", { "buyer": buyer , "seller" : seller  ,"title" : title, "isbn" : isbn, "location" : location, "availability" : availability  } );
      $('#refresh-btn').click();
  }
</script>