<!doctype html>

<html>
<head>
	<title>Textbook App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div align="left">
		<input type="button" class="btn btn-sm" onclick="history.back();"  value="Back"> 
	</div>	
	<div align="right">
		Logged in as {{username}} <br>
		<form method="GET" action="/">
			<button id="Logout" class="btn btn-default btn-sm">Logout</button><br>
		</form>
	</div>
	<br>
	<h1 align="center">Current offers</h1>

	{{#each offers}}
		<div align="center" class="container">
          <img src="{{imageurl}}" height="400" width="200" />
          <p>
          <button class="message-seller-btn btn btn-primary">Message seller</button>
          <button class="purchase-btn btn btn-primary">Purchase</button>
          <br>
          <b>Seller:</b> {{seller}} <br>
          <b>Title:</b> {{title}} <br>
          <b>Author:</b> {{author}} <br>
          <b>ISBN:</b> {{isbn}} <br>
          <b>Course:</b> {{course}}<br>
          <b>Location:</b> {{location}}<br>
          <b>Availability:</b> {{availability}}<br>
          </p>
        </div>
	{{/each}}

<div id="new-message-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send a message</h4>
            </div>
            <div class="modal-body" align="center">
                To: <input type="text" name="modal-to" placeholder="Somebody"><br>
                Subject: <input type="text" name="modal-subject"> <br>
                <textarea name="modal-msg-text" cols="50" rows="10"></textarea> <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send!</button>
            </div>
        </div>
    </div>
</div>

<div id="purchase-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" align="center">
                Purchase this textbook?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>



</html>
<script>
  $(document).ready(function() {
    $('.message-seller-btn').click(function(){
      $('#new-message-modal').modal('show');
    });
    $('.purchase-btn').click(function(){
      $('#purchase-modal').modal('show');
    });
  })
</script>