<!doctype html>

<html>
<head>
{{> header_code}}
</head>
<body>
  <div id="username" style="display:none;">{{username}}</div>
  <div class=container>
{{>navbar_code}}

	<div align="left">
		<input type="button" class="btn btn-sm backbutton" onclick="history.back();"  value="Back"> 
	</div>	

	<br>
	<h1 align="center">Current Offers</h1>
  <h4 align="center"><em>See what's out there!</em></h4><br>

	{{#each offers}}
		<div align="center" class="container">
        <div style="float:left"><img src="{{imageurl}}" height="200" width="100" />
          <p>
            <br><button class="message-seller-btn btn btn-primary MessageSeller">Message Seller</button><br>
            <button class="purchase-btn btn btn-primary BuyThis">Buy This!</button><br>
        </div>

          <br>
          <b>Seller:</b> <div class="seller">{{seller}} </div><br>
          <b>Title:</b> <div class="title">{{title}}</div> <br>
          <b>Author:</b> <div class="author">{{author}}</div> <br>
          <b>ISBN:</b> <div class="isbn">{{isbn}}</div> <br>
          <b>Course:</b> <div class="course">{{course}}</div><br>
          <b>Location:</b> <div class="location">{{location}}</div><br>
          <b>Availability:</b> <div class="availability">{{availability}}</div><br>
          <b>Price:</b> <div class="price">{{price}}</div><br>
        </p>
    </div>
	{{/each}}
<input id="refresh-btn" type="submit" style="display: none;">
<div id="new-message-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send a message</h4>
            </div>
            <div class="modal-body" align="center">
                Subject: <input type="text" name="modal-subject"> <br>
                <textarea name="modal-msg-text" cols="30" rows="10"></textarea> <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send!</button>
            </div>
        </div>
    </div>
</div>

<div id="purchase-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" align="center">
                Purchase this textbook?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=makeTransaction()>Yes</button>
       
            </div>
        </div>
    </div>
</div>

</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>



</html>
<script>
  var purchaseDiv;
  $(document).ready(function() {
    $('.message-seller-btn').click(function(){
      $('#new-message-modal').modal('show');
    });
    $('.purchase-btn').click(function(){
       purchaseDiv = $(this).parent().parent().parent();
      $('#purchase-modal').modal('show');
    });
    $('#refresh-btn').click(function(){
      var username = $('#username').text()
      location.reload();
    });
  })

  function makeTransaction() {
      var buyer = $('#username').text();
      var seller = purchaseDiv.find('.seller').text().trim();
      var title = purchaseDiv.find('.title').text().trim();
      var isbn = purchaseDiv.find('.isbn').text().trim();
      var location = purchaseDiv.find('.location').text().trim();
      var availability = purchaseDiv.find('.availability').text().trim();
      console.log(buyer + seller + title + isbn);
      //AJAX
      $.post( "makeTransaction", { "buyer": buyer , "seller" : seller  ,"title" : title, "isbn" : isbn, "location" : location, "availability" : availability  } ).done(function(data){$('#refresh-btn').click();});
  
      
  }
</script>