<!doctype html>

<html>
<head>
	<title>Textbook App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
	<link href="css/inbox.css" rel="stylesheet">
	{{>tracking_code_script}}

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class=container>

	<!--- NAVBAR -->
	<nav class="navbar navbar-default">

			<form method="POST" action="index">
				<input type="hidden" name="username" value="{{username}}"> 
				<button type="IndexButton" class="btn btn-default pull-right">
  				<span class="glyphicon glyphicon-home"></span>
				</button>
			</form>

			<p class="navbar-text pull-right">Hello, {{username}}</p>

  		<div class="container-fluid">
   		 <div class="navbar-header">

       <div class="dropdown pull-left">
 		 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
   		 <span class="glyphicon glyphicon-align-justify"></span>
  		</button>

  	 	 <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">
   		    		
   		 <form method="POST" action="buy">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="BuyBtn" class="btn btn-link">Buy</button>
		</form> 
   		
   		<form method="POST" action="sell">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="SellBtn" class="btn btn-link">Sell</button>
		</form> 

   		<form method="POST" action="inbox">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="InboxButton" class="btn btn-link">Messages</button>
		</form>

    	<form method="POST" action="transactions">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="InboxButton" class="btn btn-link">My Offers/Transactions</button>
		</form>

    	<li class="divider"></li>
		<form method="GET" action="/">
		<button id="Logout" class="btn btn-link">Logout</button><br>
		</form>
 		</ul>

 				</div>
    		</div>
  		</div>
	</nav>
	<!--- NAVBAR END -->


	<div align="left">
		<input type="button" class="btn btn-sm backbutton" onclick="history.back();"  value="Back"> 
	</div>	

		<h1 align="center">My Messages</h1><br>
		<button id="NewMessageButton" class="btn btn-primary">New Message</button><br><br>

		<table class="data-grid table table-striped table-bordered messagestable">
			<thead>
				<tr>
					<th style="width:60px"></th>
					<th style="width:150px"> From </th>
					<th> Subject </th>
					<th style="width:150px"> Date </th>
				</tr>
				{{#each messages}}
					<tr>
						<td><img class="delete-icon" src="images/delete-icon.png"></td>
			        	<td>{{from}} </td> 
			        	<td class="message-subject fake-link">{{subject}}</td>
			        	<td>{{date}}</td> 
			    	</tr>
				{{/each}}
			</thead>
		</table>
		<h3 id="message-subject" align="center"></h3> 
		<div id="message-content" align="center">
			
		</div>
	<div id="delete-message-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body" align="center">
                Delete this offer?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="new-message-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send a message</h4>
            </div>
            <div class="modal-body" align="center">
                To: <input type="text" name="modal-to"> <br>
                Subject: <input type="text" name="modal-subject"> <br>
                <textarea name="modal-msg-text" cols="30" rows="10"></textarea> <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Send!</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>                                		

			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('.message-subject').click(displayMessage);
		$('#NewMessageButton').click(function(){
			$('#new-message-modal').modal('show');
		});
	})
	$(document).ready(function() {
		$('.delete-icon').click(function(){
			$('#delete-message-modal').modal('show');
		});
	})
	function displayMessage(e) {
		// Prevent following the link
		e.preventDefault();

		var clickedMessageSubject = $(this).html();
		{{#each messages}}
			if("{{subject}}" == clickedMessageSubject){
				$('#message-subject').html("Subject: " + "{{subject}}");
				$('#message-content').html("{{content}}");
			}
		{{/each}}

	}
</script>