<!doctype html>

<html>
<head>
	<title>Textbook App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">


	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div align="left">
		<input type="button" class="btn btn-sm" onclick="history.back();"  value="Back"> 
	</div>	
	<div align="right">
		Logged in as {{username}} <br>
		<form method="GET" action="/">
			<button id="Logout" class="btn btn-default btn-sm">Logout</button><br>
		</form>
	</div>
		<h1 align="center">My Messages</h1><br>
		<button id="NewMessageButton" class="btn btn-primary">New Message</button>

		<table class="data-grid table table-striped table-bordered">
			<thead>
				<tr>
					<th style="width:60px"></th>
					<th style="width:150px"> From </th>
					<th> Subject </th>
					<th style="width:150px"> Date </th>
				</tr>
				{{#each messages}}
					<tr>
						<td><img src="images/delete-icon.png"></td>
			        	<td>{{from}} </td> 
			        	<td class="message-subject fake-link">{{subject}}</td>
			        	<td>{{date}}</td> 
			    	</tr>
				{{/each}}
			</thead>
		</table>
		<h3 id="message-subject" align="center"></h3> 
		<div id="message-content" align="center">
			
		</div>

</body>



</html>
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('.message-subject').click(displayMessage);
	})

	function displayMessage(e) {
		// Prevent following the link
		e.preventDefault();

		var clickedMessageSubject = $(this).html();
		{{#each messages}}
			if("{{subject}}" == clickedMessageSubject){
				$('#message-subject').html("Subject: " + "{{subject}}");
				$('#message-content').html("{{content}}");
			}
		{{/each}}

	}
</script>