<!doctype html>

<html>
<head>
{{> header_code}}
<link href="css/introHCI.css" rel="stylesheet">
</head>
<body>


	<div class="container">
		{{> navbar_code}}
		<div align="center">

			<div class="jumbotron">
			</div>
			<h3><strong>Hey, {{username}}! </strong><br> <br>
				<em>What do you want to do?</em></h3><br>

			<form method="POST" action="buy">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="BuyButton" class="btn btn-primary btn-lg btn-block"><strong>B U Y</strong></button>
			</form> <br>
			<form method="POST" action="sell">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="SellButton" class="btn btn-primary btn-lg btn-block"><strong>S E L L</strong></button>
			</form> <br>

			<!--
			<form method="POST" action="inbox">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="InboxButton" class="btn btn-primary btn-lg">Messages</button>
			</form> <br>
			<form method="POST" action="transactions">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="InboxButton" class="btn btn-primary btn-lg">My Offers/Transactions</button>
			</form>
			-->

		</div>
	</div>

	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>
</body>



</html>

