<!doctype html>

<html>
<head>
	<title>Textbook App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

	<div class=container>

	<!--- NAVBAR -->
	<nav class="navbar navbar-default">

			<form method="POST" action="index">
				<input type="hidden" name="username" value="{{username}}"> 
				<button type="IndexButton" class="btn btn-default pull-right">
  				<span class="glyphicon glyphicon-home"></span>
				</button>
			</form>

			<p class="navbar-text pull-right">Logged in as {{username}}</p>

  		<div class="container-fluid">
   		 <div class="navbar-header">

       <div class="dropdown pull-left">
 		 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
   		 <span class="glyphicon glyphicon-align-justify"></span>
  		</button>

  	 	 <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">
   		    		
   		 <form method="POST" action="buy">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="BuyButton" class="btn btn-link">Buy</button>
		</form> 
   		
   		<form method="POST" action="sell">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="SellButton" class="btn btn-link">Sell</button>
		</form> 

   		<form method="POST" action="inbox">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="InboxButton" class="btn btn-link">Messages</button>
		</form>

    	<form method="POST" action="transactions">
				<input type="hidden" name="username" value="{{username}}"> 
				<button id="InboxButton" class="btn btn-link">My Offers/Transactions</button>
		</form>

    	<li class="divider"></li>
		<form method="GET" action="/">
		<button id="Logout" class="btn btn-link">Logout</button><br>
		</form>
 		</ul>

 				</div>
    		</div>
  		</div>
	</nav>
	<!--- NAVBAR END -->

	<div align="left">
		<input type="button" class="btn btn-sm" onclick="history.back();"  value="Back"> 
	</div>	

	<div align="center">
		<h4> What book would you like to sell? </h4><br>
		<form method="POST" action="insert_offer">
			Title: <input type="text" name="title"> <br>
			Author: <input type="text" name="author"> <br>
			<input type="hidden" name="seller" value="{{username}}">
			ISBN: <input type="text" name="isbn"> <br>
			Course: <input type="text" name="course"> <br>
			Condition: <input type="text" name="condition"> <br>
			Image URL: <input type="text" name="imageurl"> <br>
		<!--	Meetup Availability: <textarea name="availability" cols="50" rows="10"></textarea> <br>-->
			Meetup Availability: <br>
			 <input type="checkbox" name="sunday-checkbox" value="Sunday">Sunday  <input type="text" name="sunday-av"> <br>
			 <input type="checkbox" name="monday-checkbox" value="Monday">Monday <input type="text" name="monday-av"><br>
			 <input type="checkbox" name="tuesday-checkbox" value="Tuesday">Tuesday <input type="text" name="tuesday-av"><br>
			 <input type="checkbox" name="wednesday-checkbox" value="Wednesday">Wednesday <input type="text" name="wednesday-av"><br>
			 <input type="checkbox" name="thursday-checkbox" value="Thursday">Thursday <input type="text" name="thursday-av"><br>
			 <input type="checkbox" name="friday-checkbox" value="Friday">Friday <input type="text" name="friday-av"><br>
			 <input type="checkbox" name="saturday-checkbox" value="Saturday">Saturday <input type="text" name="saturday-av"><br>
			Location: <select name="location">
					     <option value="Price Center">Price Center</option>
					     <option value="Police Station">Police Station</option>
					     <option value="Geisel">Geisel</option>
					     <option value="Off campus/Other">Off campus/Other</option>
			          </select> <br>
			<input type="hidden" name="username" value="{{username}}">
			<button id="SendPost" style="display: none;"></button>
			
		</form>
		<button id="PostOfferButton" class="btn btn-primary" onclick=confirmWindow()>Post Offer</button>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script>

</div>
</body>



</html>
<script>
	function confirmWindow() {
		var confirmed = confirm("Confirm post offer?");
		if(confirmed) {
			$("#SendPost").click();
		}
	}
</script>