<!doctype html>

<html>
<head>
{{> header_code}}
</head>
<body>
<div id="username" style="display:none;">{{username}}</div>
<div class=container>

{{>navbar_code}}

	<div align="left">
		<input type="button" class="btn btn-sm backbutton" onclick="history.back();"  value="Back"> 
	</div>	

	<input id="refresh-btn" type="submit" style="display: none;">
	<h3 align="center">Purchases </h3>
	<table class="data-grid table table-striped table-bordered">
		<thead>
			<tr>
				<th style="width: 100px;"></th>
				<th style="width: 100px;"> Title </th>
				<th style="width: 100px;"> Seller </th>
				<th style="width: 100px;"> ISBN </th>
				<th style="width: 100px;"></th>
			</tr>
			{{#each purchases}}
				<tr>
					<td><img src="images/delete-icon.png" class="delete-transaction-icon"></td>
		        	<td><div class="title">{{title}}</div> </td> 
		        <!--	<div class="buyer" style="display:none;"> {{buyer}} </div>-->
		        	<td><div class="seller">{{seller}}</div></td> 
		        	<td><div class="isbn">{{isbn}}</isbn> </td> 
		        	<td><button class="new-msg-btn btn btn-primary messagingbutton">
		        		Message</button></td>
		    	</tr>
			{{/each}}

		</thead>


	</table><br>

	<h3 align="center">Sales </h3>
	<table class="data-grid table table-striped table-bordered" style="width:100%;">
		<thead>
			<tr>
				<th style="width: 100px;"></th>
				<th style="width: 100px;"> Title </th>
				<th style="width: 100px;"> Buyer </th>
				<th style="width: 100px;"> ISBN </th>
				<th style="width: 100px;"></th>
			</tr>
			{{#each sales}}
				<tr>
					<td><img src="images/delete-icon.png" class="delete-transaction-icon"></td>
		        	<td><div class="title">{{title}}</div> </td> 
		        <!--	<div class="seller" style="display:none;"> {{seller}} </div>-->
		        	<td><div class="buyer">{{buyer}}</div></td> 
		        	<td><div class="isbn">{{isbn}}</isbn> </td> 
		        	<td><button class="new-msg-btn btn btn-primary messagingbutton">
		        		Message</button></td>
		    	</tr>
			{{/each}}
		</thead>
	</table><br>

	<h3 align="center">Pending sales</h3>
	<table class="data-grid table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th> Title </th>
				<th> ISBN </th>
			</tr>
			{{#each pendingsales}}
				<tr>
					<td><img src="images/delete-icon.png" class="delete-pending-sale-icon"></td>
		        	<td>{{title}}</td> 
		        	<td>{{isbn}}</td> 
		    	</tr>
			{{/each}}
		</thead>
	</table>

	<div id="delete-transaction-modal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Delete</h4>
	            </div>
	            <div class="modal-body" align="center">
	                Delete this transaction?
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=deleteTransaction()>Yes</button>
	            </div>
	        </div>
	    </div>
	</div>
	<div id="delete-pending-sale-modal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Delete</h4>
	            </div>
	            <div class="modal-body" align="center">
	                Delete this pending sale?
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick=deleteOffer()>Yes</button>
	            </div>
	        </div>
	    </div>
	</div>
	<div id="new-message-modal" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">Send a message</h4>
	            </div>
	            <div class="modal-body" align="center">
	                Subject: <input type="text" name="modal-subject"> <br>
	                <textarea name="modal-msg-text" cols="30" rows="10"></textarea> <br>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                <button type="button" class="btn btn-primary" data-dismiss="modal">Send!</button>
	            </div>
	        </div>
	    </div>
	</div>
</div>

</body>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>
<script>
	var offerToDelete;

	$(document).ready(function() {
		$('.new-msg-btn').click(function(){
			$('#new-message-modal').modal('show');
		});
		$('.delete-transaction-icon').click(function(){
			offerToDelete = $(this).parent().parent();
			$('#delete-transaction-modal').modal('show');
		});
		$('.delete-pending-sale-icon').click(function(){
			offerToDelete = $(this).parent().parent();
			$('#delete-pending-sale-modal').modal('show');
		});
		$('#refresh-btn').click(function(){
			var username = $('#username').text()
			location.reload();
	    });
	});

	function deleteTransaction() {
		var username = $('#username').text().trim();
		var buyer = offerToDelete.find('.buyer').text().trim();
	    var seller = offerToDelete.find('.seller').text().trim();
	    var title = offerToDelete.find('.title').text().trim();
	    var isbn = offerToDelete.find('.isbn').text().trim();

	   	console.log("posting to deleteTransaction...: " + username + buyer+seller+title+isbn);
		$.post('deleteTransaction', {'username': username, 'buyer' : buyer, 'seller' : seller, 'title' : title, 'isbn': isbn});
		$('#refresh-btn').click();
	}

	function deleteOffer() {
		var username = $('#username').text().trim();
	    var seller = $('#username').text().trim();
	    var title = offerToDelete.find('.title').text().trim();
	    var isbn = offerToDelete.find('.isbn').text().trim();
	   	console.log("posting to deleteOffer...: " + username + seller+title+isbn);
	    $.post('deleteOffer', {'username': username, 'seller' : seller, 'title' : title, 'isbn': isbn});
	    $('#refresh-btn').click();
	}
</script>